version: "3.9"

services:
  gost:
    image: gogost/gost
    depends_on:
      - certbot
    restart: always
    ports:
      - 443:443
    volumes:
      - letsencrypt_data:/etc/letsencrypt/:ro
      - ./gost/:/etc/gost/:ro
    command:
      - -C=/etc/gost/config.yaml

  certbot:
    image: certbot/dns-cloudflare
    volumes:
      - letsencrypt_data:/etc/letsencrypt/:rw
      - ./gost/cloudflare.ini:/etc/cloudflare.ini:ro
    command:
      - certonly
      - --dns-cloudflare
      - --dns-cloudflare-credentials
      - /etc/cloudflare.ini
      - -m YOUR_CLOUDFLARE_MAIL_HERE
      - -d YOUR_FULL_DOMAIN_HERE_FOR_EXAMPLE_DOCS_DOT_FACEBOOK_DOT_COM
      - --agree-tos
      - --non-interactive

volumes:
  acme:
  warp:
  letsencrypt_data:



