services:
  - name: service-0
    addr: :443
    handler:
      type: http2
      auth:
        username:
        password: YOUR_PASSWORD_HERE_AND_LEAVE_USERNAME_EMPTY
    listener:
      type: http2
      tls:
        certFile: /etc/letsencrypt/live/YOUR_FULL_DOMAIN_HERE_FOR_EXAMPLE_DOCS_DOT_FACEBOOK_DOT_COM/fullchain.pem
        keyFile: /etc/letsencrypt/live/YOUR_FULL_DOMAIN_HERE_FOR_EXAMPLE_DOCS_DOT_FACEBOOK_DOT_COM/privkey.pem

log:
  format: text
  level: warn
